body {
  background-color: rgb(160, 200, 155);
  margin: 0% 5%;
  font-family: 'Righteous', cursive;
}

header {
  margin: 0% -4%;
  text-align: center;
  border: 3px solid black;
  background-color: aquamarine;
}

#funcionamento {
  font-size: 15px;
}

#aside {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-top: 45px;
  border: 2px solid rgb(95, 131, 95);
  height: 500px;
  margin-left: -5.5%;
}

#apaga-tudo {
  background-color: rgb(170, 65, 65);
  border-radius: 30px;
  display: block;
  margin: 5px 0px;
}

#remover-finalizados {
  background-color: rgb(194, 194, 93);
  border-radius: 30px;
  display: block;
  margin: 5px 0px;
  /* font-size: 12px; */
}

#texto-tarefa {
  display: inline-block;
  margin-right: 5px;
}

#lista-tarefas {
  margin-left: 80px;
}

#criar-tarefa {
  display: inline-block;
  border-radius: 30px;
}

#selected-item {
  background-color: rgb(128,128,128);
}

.completed {
  text-decoration: line-through solid black;
  color: rgb(202, 7, 7);
}